@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", serif;
  background-image: url("../public/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  margin: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  background-size: contain;
}
.questions {
  cursor: pointer;
}
.app {
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  margin: 100px 0;
}
.faq {
  display: flex;
  gap: 30px;
  font-size: 25px;
}
.faq h1 {
  color: hsl(292, 42%, 14%);
  margin-bottom: 20px;
}
.questions h2 {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  margin: 25px 0;
}
.questions {
  border-bottom: 1px solid lightgray;
}
.last-q {
  border-bottom: none;
}
.expand {
  display: flex;
  justify-content: space-between;
  height: 78.5px;
  align-items: center;
}
.questions p {
  font-size: 22px;
  line-height: 30px;
  color: hsl(292, 16%, 49%);
  margin-bottom: 40px;
  margin-top: 0;
}
.questions:last-child {
  border-bottom: none;
}
.expand img {
  width: 40px;
  height: 40px;
}

/* Responsive Design */
@media (min-width: 820px) {
  body {
    background-image: url("../public/background-pattern-desktop.svg");
    background-size: auto;
    height: 90vh;
  }
}
@media (min-width: 1434px) {
  body {
    background-size: contain;
    height: 100vh;
  }
}
